body {
	background: #b1b1b1;
}

.bs-presentations{
    position: relative;
    width:auto;
    padding: 5px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.bs-presentations > .row{
	display:table;
	width: calc(100% + 30px);
}
 
.bs-presentations > .row > [class^="col-"],
.bs-presentations > .row > [class*=" col-"]{
	float:none;
	display:table-cell;
	vertical-align:middle;
}

.contents{
	padding-top: 5px;
	padding-bottom: 5px;
}

.title{
	margin: 0 auto 5px;
	padding: 0;
}

.desc{
	padding: 0;
}

.desc p:last-child{
	margin-bottom: 0;
}

.button{
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (max-width: 991px){
    .bs-presentations > .row{
        display:block;
        width: auto;
    }

	.bs-presentations > .row > [class^="col-"],
	.bs-presentations > .row > [class*=" col-"]{
		float:none;
		display:block;
		vertical-align:middle;
		position: relative;
	}

	.contents{
		text-align: left;
	}
}

.text-presentations {
	color: #d1d1d1;
}

.btn-presentations {
	background-color: #d1d1d1;
	color: black;
}

.btn-presentation-link {
	margin-top: 5px;
	margin-bottom: 5px;
}

.top-div {
	margin-top: 50px;
	margin-bottom: 25px;
}